@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: #033135; /* Color of the thumb */
    border-radius: 1px; /* Round the corners of the thumb */
  }